<!-- JQUERY -->
<script src="/js/jquery-3.5.0.min.js"></script>
<% if(title == 'Create Problem' || title == 'Edit Problem') { %>
<!-- search functionality on input box -->
<script src="/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/js/chosenInit.js" type="text/javascript" charset="utf-8"></script>
<% } %>
<% if(title == 'Codeaholic IDE' || title == 'Codeaholic Playground') { %>
<!-- JQUERY UI -->
<script src="/js/jquery-ui.min.js"> </script>
<!-- ACE EDITOR Core-->
<script src="/js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<!-- ACE EDITOR auto complete functionality -->
<script src="/js/ace/src-min-noconflict/ext-language_tools.js"></script>
<!-- ACE EDITOR custom configuration-->
<script src="/js/ace/config.js" type="text/javascript" charset="utf-8"></script>
<!-- IDE custom config-->
<script src="/js/customIde.js"></script>
<% } %>
<!-- BOOTSTRAP JS -->
<script src="/js/bootstrap.min.js"></script>
</body>

</html>