<!-- JQUERY -->
<script src="/js/jquery-3.5.0.min.js"></script>
<script src="/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/js/chosenInit.js" type="text/javascript" charset="utf-8"></script>

<% if(title == 'Codeaholic IDE' || title == 'Codeaholic Playground') { %>
<!-- JQUERY UI -->
<script src="/js/jquery-ui.min.js"></script>
<!-- BOOTSTRAP BUNDLE JS -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- ACE EDITOR-->
<script src="/js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/src-min-noconflict/ext-language_tools.js"></script>
<script src="/js/ace/src-min-noconflict/ext-beautify.js"></script>
<script src="/js/ace/config.js" type="text/javascript" charset="utf-8"></script>
<!-- CUSTOM IDE JS-->
<script src="/js/customIde.js"></script>
<% } else { %>
<!-- BOOTSTRAP JS -->
<script src="/js/bootstrap.min.js"></script>
<% } %>
</body>

</html>