<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title><%= title %></title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
    <% if(title == 'Codeaholic IDE' || title == 'Codeaholic Playground') { %>
    <!-- JQuery UI -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
    <% } %> <% if(title == 'Codeaholic IDE') { %>
    <!-- Sidebar -->
    <link rel="stylesheet" href="/css/sidebar.css" />
    <% } %> <% if(title == 'Create Problem' || title == 'Edit Problem') { %>
    <!-- For searching Tags -->
    <link rel="stylesheet" href="/css/chosen.min.css" />
    <% } %>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/206ed20967.js" crossorigin="anonymous"></script>
  </head>

  <body></body>
</html>
