<% include partials/header.ejs %>

<h1 class="text-center" id="home-heading">Welcome to Codeaholic</h1>

<div class="container card-container">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Students</b></h5>
                <p class="card-text">If you are a student who wants to start coding</p>
                <a href="/students" class="btn btn-primary">Click Here</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Staffs</b></h5>
                <p class="card-text">If you are a Staff who wants to create awesome problem</p>
                <a href="/staffs" class="btn btn-primary">Click Here</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Admin</b></h5>
                <p class="card-text">If you are a Admin who wants to make some changes</p>
                <a href="/admin" class="btn btn-primary">Click Here</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Playground</b></h5>
                <p class="card-text">If you are a someone who wants checkout our IDE</p>
                <a href="/playground" class="btn btn-primary">Click Here</a>
            </div>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>