<% include ../partials/header.ejs %>
<h1>Staff Dashboard</h1>
<a href="/staffs/signout" class="btn btn-primary">Logout</a>
<div class="container card-container">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Problems</b></h5>

                <a href="/staffs/problems" class="btn btn-primary">Click Here</a>
            </div>
        </div>

    </div>

</div>

<% include ../partials/footer.ejs %>